<div class="tile m-b-10 toggleable-widget" id="all-transactions-container">
	<div class="tile-title">
		<div class="controller">
			<a href="" class="collapse pull-right m-l-15">&nbsp;</a>
		</div>
		<h3 class="m-t-0 p-r-20"><%- req.session.getTranslation('Market_transactions_current_day') %></h4>
	</div>
	<div class="tile-body">
		<div class="text-center padding-20"><img src="/img/loader-white.gif"></div>
	</div>
</div>
