<div class="tile white m-b-10" id="initialOrders-container">
	<div class="tile-title">
		<div class="controller">
			<a href="" class="collapse pull-right m-l-15">&nbsp;</a>
		</div>
		<h3 class="no-margin m-b-10"><%- req.session.getTranslation('Initiating_orders') %></h3>
	</div>
	<div class="tile-body">
		<div class="text-center padding-20"><img src="/img/loader-white.gif"></div>
	</div>	
</div>	
